

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#141e30, #243b55);
    color: aliceblue;
}

h1{
    letter-spacing: 2px;
    font-size: 2em;
    margin: 0 0 30px;
    display: block;
}
.contact-form{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  
  width: 800px;
  padding: 40px;
 
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

input,textarea{
    background: rgba(0,0,0,.5);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 0px;
    padding: 10px 20px;
    font-size: 20px;
    display: block;
    margin: 20px 0px;

}
#form{
display:flex ;
align-items: center;
justify-content: center;
flex-direction: column;

}

.btn{
    color:#03e9f4 ;
    letter-spacing: 4px;
    font-size: 1em;
}
.btn:hover{
    background: #03e9f4;
  color: #fff;
  transition: 0.2s ease-in;
  box-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4,
  0 0 50px #03e9f4,
  0 0 100px #03e9f4;
            

}